<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="min-h-screen w-full bg-zinc-900 p-10">
        <h1 class="text-white text-2xl "> Edit your Post !!</h1>
        
        
        <form action="/update/<%= post._id%>" method="post" class="block mt-10 flex flex-col">
            <input type="text" name="title" class="w-1/3 text-white bg-transparent mt-3 border-2 border-zinc-800 rounded-md p-3 outline-none" placeholder="Title (Optional)" value="<%= post.title%>">
            <textarea name="content" class="w-1/3 text-white resize-none bg-transparent mt-3 border-2 border-zinc-800 rounded-md p-3 outline-none" placeholder="Heyy!! What's in your mind ?"> <%= post.content%></textarea>
            <input type="submit" class="px-3 py-2 bg-yellow-500 rounded-md w-1/6 block text-black hover:bg-orange-500 mt-5" value="Post">
        </form>
        
    </div>
</body>
</html>
