<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="min-h-screen w-full bg-zinc-900 p-10">
        <h1 class="text-white text-2xl mx-auto text-center mb-7">Login Account!!</h1>
        <form class="flex flex-col" action="/login" method="POST">
            <input class="bg-zinc-800 text-white w-1/3 mx-auto m-3 p-3 rounded-md outline-none " type="email" name="email" placeholder="Enter email">
            <input class="bg-zinc-800 text-white w-1/3 mx-auto m-3 p-3 rounded-md outline-none " type="password" name="password" placeholder="Enter password">
            <input class="w-100 bg-green-500 text-white rounded-md mx-auto m-3 p-3 hover:bg-green-600 " type="submit" value="Login Account">
        </form>
    </div>
</body>
</html>